.mainoffer {
	height: 735px;
	background-color: #10222f;
	background-image: url("../img/oferimg.png");	
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.robot{
	height: 100%;
	background-image: url("../img/robot-big.png");	
	background-position: center bottom;
	background-repeat: no-repeat;
	
	
}
.oferflex {
	padding: 80px 75px 0 45px;
	justify-content: space-between;	
}

.rightofer {
	
}

.title1 {
	padding-left: 5px;
	margin-top: 0;
	margin-bottom: 65px;
	font-size: 48px;
	line-height: 55px;
	color: #ffffff;
}

.lid {
	padding: 0;
	width: 290px;
}

.social {
	padding-top: 20px;
	width: 41px;
	height: 211px;
}

.social li {
	margin-bottom: 10px;
}

.feild {
	margin-bottom: 10px;
	width: 80%;
	height: 52px;
	font-family: "Trebuchet MS";
	font-size: 18px;
	font-style: italic;
	border: none;
}

.personal {
	padding-left: 15px;
	width: 93%;
	cursor: pointer;
}

.send {
	margin: 0;
	width: 100%;
	background-image: linear-gradient(#ed9414, #f1d809);
  box-shadow: 0px 7px 16px #000000;
	font-family: "Trebuchet MS";
	font-size: 18px;
	font-style: italic;
}

.title2 {
	margin-top: 40px;
	margin-bottom: 65px;
	font-size: 48px;
	line-height: 50px;
	font-weight: 400;
	color: #000000;
	text-align: center;
}

.title3 {
	margin: 0;
	padding: 0;
	font-size: 36px;
}

.program {
	margin-bottom: 60px;
}

.curs {
	justify-content: space-between;
}

.cursitem {
	padding: 245px 17px 25px 45px;
	width: 392px;
	background-image: url("../img/data.png");
	background-position: center top;
	background-repeat: no-repeat;
	font-size: 24px;
	line-height: 30px;
}

.sendcurs {
	display: inline-block;
	padding-top: 15px;
	width: 290px;
	height: 38px;
	background-image: linear-gradient(#ed9414, #f1d809);
	box-shadow: 15px 18px 8px -1px rgba(0, 0, 0, 0.17);
	color: #272525;
	font-size: 24px;
	text-align: center;
}

.vkontakte {
	content: url("../img/vk.png");	
}

.pinteres {
	content: url("../img/pin.png");	
}

.mail {
	content: url("../img/mail.png");	
}

.whatsapp {
	content: url("../img/whatsapp.png");	
}