.mainoffer {
	height: 735px;
	background-color: #10222f;
	background-image: url("../img/oferimg.png");
	background-position: center;
	background-repeat: no-repeat;
}
.oferflex {
	padding: 85px 75px 0 45px;
	justify-content: space-between;
}

/*.rightofer
{
	margin-top: 90px;
	
}*/

.title1 {
	margin-top: 0;
	margin-bottom: 65px;
	font-size: 48px;
	line-height: 55px;
	color: #ffffff;
}

.lid {
	padding: 0;
	width: 290px;
}

.social {
	padding-top: 35px;
	width: 41px;
	height: 211px;
}

.feild {
	margin-bottom: 10px;
	width: 80%;
	height: 52px;
	font-family: "Trebuchet MS Italic";
	font-size: 18px;
	font-style: italic;
	letter-spacing: 2px;
	border: none;
}

.personal {
	padding-left: 15px;
	width: 93%;
	cursor: pointer;
}

.send {
	margin: 0;
	width: 100%;
	background-image: linear-gradient(#ed9414, #f1d809);
  box-shadow: 0px 7px 16px #000000;
}